.background-behide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.favourite-header{
    margin-left: 50px;
}
.display{
    display: flex;
}
.background-behide .select--product{
    background-color: #fff;
    width: 850px;
    min-height: 480px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.background-behide img{
    height: 420px;
    width: 345px;
    border-radius: 10px;
}
.background-behide .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 380px;
}
.background-behide .select--header
{
    margin-bottom: 5px;
}
.background-behide .select-title{
    color: #ccc;
    margin-bottom: 5px;
}
.background-behide .select-prices{
    font-weight: 800;
    margin-bottom: 20px;
}
.list{
    border: 1px solid #111111;
    width: 65px;
    height: 48px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    border-radius:10px; 
    margin-left: 10px;
    margin-bottom: 10px;
  }
  input[type=radio] {
    position: absolute;
    visibility: hidden;
    width:100%;
    display: none;
  }
  label {
    color: #111111;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    font-weight: bold;
    width: 65px;
    height: 48px;
  }
  input[type=radio]:checked + label{
      color: #111111;
      background: #f5f5f5;
      border-radius: 10px;
      border: 1px solid #111111;
  }
  
  .radio-group {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content:left;
    margin: 20px 0;
  }
  .background-behide button{
      outline: none;
      border: none;
      display: flex;
      width: 100%;
  }
  .inactive{
    opacity: 0.4;
    cursor: none;
}
.inactive button{
cursor: none;
pointer-events: none;
}
.remove--btn{
 background-color: #ff623d;
 color: #fff;
}
.inactive .select--btn{
cursor: none;
pointer-events: none;
}
  
  @import url('https://fonts.googleapis.com/css?family=Roboto');
